@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap");

.opponent_state {
  font-size: 1.2rem;
  font-family: "Courgette", cursive;
  margin-top: 1.5rem;
  color: rgb(226, 214, 214);
}
