@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.header_title {
  cursor: pointer;
}

.header_title {
  font-family: 'Lobster', cursive;
  font-size: 1.3rem;
}

.header_username {
  font-family: 'Indie Flower', cursive;
}